.main-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.main-form-source {
    margin: 20px;
    width: 40%;
}

.main-form-source textarea{
    font-family: monospace;
    font-size: large;
}

.main-form-instruct {
    margin-top: 40px;
    font-size: x-large;
}
.main-form-control {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.main-form-control button {
    width: 100px;
    height: 30px;
}
